:root {
    --colorBody:#131c46;
    --colorGallery:red;
    --marco:#ffffff;
    --colorMedia:#f9a602;
    --colorLarge:#6b0000;
    --colorGrey:#3c3c3c;
    --colorCiel:#72c8f1;
}

.body {
    margin-top: 0px;
    width: 100%;      
    height: 115vh;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    background-color: var(--colorBody);
    
}

.gallery{    
    display: flex;   
    align-items: center;    
    justify-content: center; 
    width: 50rem;
    height: 50rem;
    margin-top: 0rem;    
}
.parrafo{
    
}
.image{
    display: flex;
    align-items: center;
    width: 25rem;
    height: 50rem;
    margin:0px;
    box-sizing: border-box;
    border-color: var(--marco);
    border-style: solid;
    border-width: 0.2rem;
    
}
@media screen and (max-width: 960px) {

    .body{
        background-color: var(--colorLarge);
    }
    .image{
        border-width: 0.2rem;
    }
}


@media screen and (max-width: 769px) {

    .body{
        background-color:var(--colorMedia);
    }

    .image{
        width: 20rem;
        height: 40rem;
        border-width: 0.2rem;
    }
}


@media screen and (max-width: 540px) {
    
    .body{
        background-color: var(--colorCiel);
    }

    .gallery{
       
    }
    .image{
        width: 15rem;
        height: 30rem;
        border-width: 0.2rem;
    }

}
@media screen and (max-width: 365px) {
    
    .body{
        background-color: var(--colorGallery);
    }

    .gallery{
        
    }
    .image{
        width: 10rem;
        height: 20rem;
        border-width: 0.2rem;
    }
}
